@charset "UTF-8";
#app #top #header {
  width: 100%;
  border-bottom: 2px solid #ff5224;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

#app #top #header .header {
  width: 1364px;
  height: 130px;
  margin: auto;
}

#app #top #header .header .header-top {
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 32px;
}

#app #top #header .header .header-top > a {
  color: #595959;
  display: inline-block;
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid #d8d8d8;
  height: 16px;
}

#app #top #header .header .header-top > a:hover {
  color: #ff5224;
  text-decoration: none;
}

#app #top #header .header .header-top > a i {
  display: inline-block;
  background-size: 100% 100%;
  line-height: 40px;
  margin-right: 4px;
  vertical-align: middle;
  margin-bottom: 2px;
}

#app #top #header .header .header-top > a span {
  line-height: 16px;
  font-size: 12px;
}

#app #top #header .header .header-top a:nth-child(1) i {
  width: 16px;
  height: 15px;
  background-image: url("../lib/icon/icon-seller-center@2x.47236cec.png");
}

#app #top #header .header .header-top a:nth-child(2) i {
  width: 16px;
  height: 15px;
  background-image: url("../lib/icon/下载.png");
}

#app #top #header .header .header-top a:nth-child(3) i {
  width: 10px;
  height: 15px;
  background-image: url("../lib/icon/下载 (1).png");
}

#app #top #header .header .header-top .country {
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
  margin-right: 24px;
  color: #595959;
}

#app #top #header .header .header-top .country:hover .glyphicon-menu-down {
  transform: rotate(180deg);
}

#app #top #header .header .header-top .country .glyphicon-menu-down {
  transition: all .2s;
  top: 0;
}

#app #top #header .header .header-top .country img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

#app #top #header .header .header-top .country span {
  width: 55px;
}

#app #top #header .header .header-top .country i {
  font-size: 12px;
}

#app #top #header .header .header-top .country .dropdown-menu {
  display: none;
  width: 330px;
  left: -250px;
  top: 10px;
  overflow-y: scroll;
  height: 424px;
  transition: all .5s;
}

#app #top #header .header .header-top .country .dropdown-menu::-webkit-scrollbar {
  width: 6px;
  /*设置滚动条宽度*/
}

#app #top #header .header .header-top .country .dropdown-menu::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

#app #top #header .header .header-top .country .dropdown-menu .content-ship {
  font-size: 12px;
  opacity: 0.65;
  line-height: 17px;
  padding: 16px 24px 8px;
  text-align: left;
}

#app #top #header .header .header-top .country .dropdown-menu .content-search {
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 0 40px 0 14px;
  border-radius: 16px;
  border: 1px solid #ccc;
  margin: 0 24px;
}

#app #top #header .header .header-top .country .dropdown-menu .content-search input {
  width: 282px;
  line-height: 32px;
}

#app #top #header .header .header-top .country .dropdown-menu .content-search i {
  font-size: 20px;
  position: absolute;
  top: 61px;
  right: 40px;
  opacity: 0.7;
}

#app #top #header .header .header-top .country .dropdown-menu p:nth-of-type(2) {
  font-size: 12px;
  opacity: 0.5;
  line-height: 17px;
  padding: 5px 20px 0 20px;
}

#app #top #header .header .header-top .country .dropdown-menu li:hover a {
  color: #ff5224;
}

#app #top #header .header .header-top .country .dropdown-menu li img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  vertical-align: middle;
}

#app #top #header .header .header-top .country .dropdown-menu li a {
  width: 100%;
  padding: 10px 16px;
  font-size: 14px;
}

#app #top #header .header .header-top .country .dropdown-menu li span {
  float: right;
}

#app #top #header .header .header-top .lang {
  color: #595959;
  position: relative;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#app #top #header .header .header-top .lang:hover .glyphicon-menu-down {
  transform: rotate(180deg);
}

#app #top #header .header .header-top .lang .glyphicon-menu-down {
  transition: all .2s;
  top: 0;
}

#app #top #header .header .header-top .lang > span {
  display: inline-block;
  width: 60px;
}

#app #top #header .header .header-top .lang i {
  font-size: 12px;
  margin-left: -6px;
}

#app #top #header .header .header-top .lang .lang-nav {
  position: absolute;
  left: -10px;
  top: 32px;
  cursor: pointer;
  text-align: left;
  width: 80px;
  box-shadow: 0 2px 10px 0;
  background: #fff;
  display: none;
  z-index: 2;
}

#app #top #header .header .header-top .lang .lang-nav li {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

#app #top #header .header .header-top .lang .lang-nav li:hover {
  background-color: #f5f5f5;
}

#app #top #header .header .header-bottom {
  height: 90px;
  padding: 0 32px;
  display: flex;
  align-items: center;
}

#app #top #header .header .header-bottom .header-bottom-logo {
  width: 230px;
  height: 90px;
  display: flex;
  align-items: center;
}

#app #top #header .header .header-bottom .header-bottom-logo a {
  display: inline-block;
  width: 230px;
  height: 54px;
  background-image: url("../lib/image/nav/logo-cn@2x.d917ee8a.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#app #top #header .header .header-bottom .header-bottom-sreach {
  width: 678px;
  height: 58px;
  margin: 0 137px;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox {
  width: 504px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ff5224;
  box-sizing: border-box;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .sreachBox-select {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  color: #333333;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .sreachBox-select i {
  margin-left: 6px;
  vertical-align: middle;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 4px;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .sreachBox-select .sreachBox-ul {
  display: none;
  transition: all .5s;
  width: 88px;
  position: absolute;
  top: 46px;
  left: 0px;
  box-shadow: 0 2px 5px 0;
  background-color: #fff;
  border-radius: 3px;
  z-index: 2;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .sreachBox-select .sreachBox-ul li {
  height: 30px;
  padding: 0 16px;
  line-height: 30px;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .sreachBox-select .sreachBox-ul li:hover {
  background: #f5f5f5;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .sreachBox-inp {
  width: 322px;
  opacity: 0.65;
  flex: 1;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .sreachBox-inp::-webkit-input-placeholder {
  font-size: 13px;
  color: #000;
  opacity: 0.4;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .searchBox-icon {
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5224;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: -2px;
  right: -2px;
}

#app #top #header .header .header-bottom .header-bottom-sreach .sreachBox .searchBox-icon i {
  font-size: 17px;
  color: #fff;
}

#app #top #header .header .header-bottom .header-bottom-sreach .hot-sreach {
  width: 500px;
  height: 17px;
  overflow: hidden;
  margin-top: 5px;
}

#app #top #header .header .header-bottom .header-bottom-sreach .hot-sreach li {
  height: 17px;
  margin-left: 16px;
  cursor: pointer;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
  opacity: 0.6;
  float: left;
}

#app #top #header .header .header-bottom .header-bottom-sreach .hot-sreach li:hover {
  color: #ff5224;
}

#app #top #header .header .header-bottom .header-bottom-sign {
  width: 400px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app #top #header .header .header-bottom .header-bottom-sign div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all .2s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

#app #top #header .header .header-bottom .header-bottom-sign div:hover {
  background-color: #f5f5f5;
}

#app #top #header .header .header-bottom .header-bottom-sign div span {
  font-size: 13px;
  color: #000000;
  opacity: 0.85;
}

#app #top #header .header .header-bottom .header-bottom-sign div i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 12px;
}

#app #top #header .header .header-bottom .header-bottom-sign div:nth-of-type(1) i {
  background-image: url("../lib/icon/icon-my.png");
}

#app #top #header .header .header-bottom .header-bottom-sign div:nth-of-type(2) i {
  background-image: url("../lib/icon/icon-like.png");
}

#app #top #header .header .header-bottom .header-bottom-sign div:nth-of-type(3) i {
  background-image: url("../lib/icon/icon-cart.png");
}

#app #top #banner {
  margin-top: 162px;
}

#app #top #banner .swiper-container {
  width: 1300px;
  height: 420px;
  margin: auto;
  cursor: pointer;
  --swiper-theme-color: #ff6600;
  /* 设置Swiper风格 */
  --swiper-navigation-color: #fff;
  /* 单独设置按钮颜色 */
  --swiper-navigation-size: 15px;
  /* 设置按钮大小 */
}

#app #top #banner .swiper-container img {
  border-radius: 5px;
}

#app #top #banner .swiper-container .hide {
  opacity: 0;
}

#app #top #banner .swiper-container .swiper-button-next,
#app #top #banner .swiper-container .swiper-button-prev {
  transition: opacity 0.5s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.3;
}

#app #top #banner .swiper-container .swiper-button-next {
  right: 16px;
}

#app #top #banner .swiper-container .swiper-button-prev {
  left: 16px;
}

#app #top #min-banner {
  width: 100%;
}

#app #top #min-banner .min-banner {
  width: 1364px;
  height: 163px;
  padding: 0 32px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

#app #top #min-banner .min-banner .banner-item {
  width: 313px;
  height: 147px;
  cursor: pointer;
}

#app #top #min-banner .min-banner .banner-item img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#app #top #brick-container .brick-container {
  width: 1364px;
  height: 267.6px;
  padding: 0 32px;
  margin: auto;
}

#app #top #brick-container .brick-container .brick-header {
  height: 74px;
  display: flex;
  align-items: center;
}

#app #top #brick-container .brick-container .brick-header .brick-h1 {
  display: flex;
  align-items: center;
}

#app #top #brick-container .brick-container .brick-header .brick-h1 i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../lib/icon/shangjia.png);
  background-size: 100%;
}

#app #top #brick-container .brick-container .brick-header .brick-h1 span {
  font-weight: 600;
  font-size: 24px;
}

#app #top #brick-container .brick-container .brick-content {
  height: 161.6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#app #top #brick-container .brick-container .brick-content .store-item {
  width: 315px;
  cursor: pointer;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  transition: box-shadow .1s ease-in .1s;
}

#app #top #brick-container .brick-container .brick-content .store-item:hover {
  box-shadow: 0 4px 10px #ccc;
}

#app #top #brick-container .brick-container .brick-content .store-item img {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

#app #top #brick-container .brick-container .brick-content .store-item .store-bottom {
  height: 68px;
  padding: 12px 16px;
}

#app #top #brick-container .brick-container .brick-content .store-item .store-bottom p {
  color: #2c2c2c;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

#app #top #brick-container .brick-container .brick-content .store-item .store-bottom .store-link {
  margin-top: 4px;
  color: #ff5224;
  font-size: 14px;
  text-align: center;
}

#app #top #brick-container .brick-container .brick-content .store-item .store-bottom .store-link span {
  font-weight: 600;
}

#app #top #brick-container .brick-container .brick-content .store-item .store-bottom .store-link i {
  vertical-align: middle;
  margin-bottom: 3px;
  font-weight: normal;
}

#app #top #brand .brand {
  width: 1364px;
  height: 353.33px;
  padding: 0 32px 32px 32px;
  margin: auto;
}

#app #top #brand .brand .brand-header {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app #top #brand .brand .brand-header .brand-h1 {
  display: flex;
  align-items: center;
}

#app #top #brand .brand .brand-header .brand-h1 i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../lib/icon/shangjia2.png);
  background-size: 100%;
}

#app #top #brand .brand .brand-header .brand-h1 span {
  font-weight: 600;
  font-size: 24px;
}

#app #top #brand .brand .brand-header .brand-h2 {
  color: #ff5224;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#app #top #brand .brand .brand-header .brand-h2 i {
  margin-left: 3px;
  vertical-align: middle;
  margin-bottom: 2px;
}

#app #top #brand .brand .brand-list {
  height: 247.33px;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
}

#app #top #brand .brand .brand-list li:nth-of-type(odd) {
  background-color: #bbe9ff;
}

#app #top #brand .brand .brand-list li:nth-of-type(even) {
  background-color: #ffedda;
}

#app #top #brand .brand .brand-list .brand-item {
  width: 420px;
  height: 247.33px;
  border-radius: 4px;
  transition: box-shadow .1s ease-in .1s;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

#app #top #brand .brand .brand-list .brand-item:hover {
  box-shadow: 0 4px 10px #ccc;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap {
  height: 90px;
  padding: 12px 18px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-logo {
  width: 120px;
  height: 66px;
  margin-right: 16px;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-logo img {
  width: 100%;
  height: 100%;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-info {
  width: 152px;
  height: 60px;
  padding-top: 6px;
  margin-right: 8px;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-info .brand-name {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.85;
  margin-bottom: 4px;
  color: #000000;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-info .brand-num {
  font-size: 12px;
  opacity: 0.5;
  line-height: 17px;
  margin-bottom: 4px;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-info .review-wrap {
  display: flex;
  align-items: center;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-info .review-wrap .van-rate {
  margin-right: 4px;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-info .review-wrap .van-rate svg {
  width: 12px !important;
  height: 12px;
  fill: #fec225;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-info .review-wrap span {
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 2px;
}

#app #top #brand .brand .brand-list .brand-item .brand-info-wrap .brand-more {
  font-size: 12px;
  min-width: 86px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0 8px;
  color: #ff5224;
  border: 1px solid #ff5224;
  box-sizing: border-box;
  border-radius: 12px;
}

#app #top #brand .brand .brand-list .brand-item .brand-good-list {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

#app #top #brand .brand .brand-list .brand-item .brand-good-list li {
  width: 123.33px;
  height: 123.33px;
}

#app #top #brand .brand .brand-list .brand-item .brand-good-list li img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#app #bottom {
  background: #f5f5f5;
  padding: 32px 0;
}

#app #bottom .bottom {
  width: 1364px;
  margin: 0 auto;
  padding: 0 32px;
}

#app #bottom .bottom .floor .floor-header {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#app #bottom .bottom .floor .floor-header .floor-header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#app #bottom .bottom .floor .floor-header .floor-header-left i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../lib/icon/baopin.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 16px;
}

#app #bottom .bottom .floor .floor-header .floor-header-left span {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

#app #bottom .bottom .floor .floor-header .floor-header-right {
  color: #ff5224;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#app #bottom .bottom .floor .floor-header .floor-header-right i {
  margin-left: 3px;
  vertical-align: middle;
  margin-bottom: 2px;
}

#app #bottom .bottom .floor .floor-container .floor-good-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item {
  width: 202.5px;
  height: 309.7px;
  padding: 10px 8px;
  margin: 8px 0;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow .2s ease-in .1s;
  border-radius: 4px;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item:hover {
  box-shadow: 0 2px 8px 4px rgba(200, 201, 204, 0.7);
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-img {
  width: 186.5px;
  height: 186.5px;
  margin-bottom: 8px;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-img img {
  width: 100%;
  height: 100%;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-info .good-name {
  height: 42px;
  font-size: 13px;
  margin-bottom: 8px;
  color: #000;
  opacity: 0.85;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-info .good-price {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-info .good-price .floor-good-price {
  font-size: 16px;
  font-weight: 600;
  color: #ff5224;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-info .good-price .floor-discount {
  color: #1BA1DB;
  background-color: rgba(27, 161, 219, 0.1);
  margin-left: 12px;
  border-radius: 8px;
  padding: 0 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-info .good-price .floor-discount span {
  font-size: 12px;
  font-weight: 400;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .floor-info .good-price .floor-discount i {
  display: inline-block;
  width: 6px;
  height: 10px;
  margin-left: 4px;
  background: url(../lib/icon/discount.png);
  background-size: 100% 100%;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .rate-wrap {
  display: flex;
  align-items: center;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .rate-wrap .van-tate {
  display: flex;
  align-items: center;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .rate-wrap .van-tate svg {
  width: 14px;
  height: 14px;
  fill: #fec225;
}

#app #bottom .bottom .floor .floor-container .floor-good-list .floor-item .rate-wrap .review-num {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.35);
  margin-left: 6px;
}

#app #footer .footer {
  width: 1364px;
  padding: 0 32px;
  height: 526px;
  margin: auto;
}

#app #footer .footer .service-list {
  width: 100%;
  padding: 32px 0;
  margin: 0;
  display: flex;
}

#app #footer .footer .service-list li {
  width: 25%;
  padding: 0 42px;
  display: flex;
}

#app #footer .footer .service-list li .icon-one {
  background: url(https://ws.izenecdn.com/st/wapsite/img/wide-choices@2x.6c497cf6.png);
}

#app #footer .footer .service-list li .icon-two {
  background: url(https://ws.izenecdn.com/st/wapsite/img/affordable@2x.645d0d3a.png);
}

#app #footer .footer .service-list li .icon-three {
  background: url(https://ws.izenecdn.com/st/wapsite/img/global-reviews@2x.daa87e2f.png);
}

#app #footer .footer .service-list li .icon-four {
  background: url(https://ws.izenecdn.com/st/wapsite/img/secure@2x.a2adff31.png);
}

#app #footer .footer .service-list li .service-icon {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#app #footer .footer .service-list li .service-content {
  width: 112px;
  height: 48px;
}

#app #footer .footer .service-list li .service-content h2 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 8px;
}

#app #footer .footer .service-list li .service-content p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 16px;
  margin: 0;
}

#app #footer .footer .footer-link {
  width: 100%;
  height: 258px;
  padding: 32px 0;
  margin-bottom: 24px;
  border-top: 1px solid #d8d8d8;
}

#app #footer .footer .footer-link .footer-link-list {
  display: flex;
}

#app #footer .footer .footer-link .footer-link-list .footer-item {
  width: 216.66px;
  padding-left: 2%;
}

#app #footer .footer .footer-link .footer-link-list .footer-item .link-title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

#app #footer .footer .footer-link .footer-link-list .footer-item .link-list .link-item {
  font-size: 13px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}

#app #footer .footer .footer-link .footer-link-list .footer-item .link-list .link-item a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}

#app #footer .footer .footer-link .footer-link-list .footer-item .link-list .link-item a:hover {
  color: #ff5224;
}

#app #footer .footer .footer-link .footer-link-list li:nth-of-type(1) {
  padding: 0;
}

#app #footer .footer .footer-link .footer-link-list .big-item {
  width: 433.33px;
}

#app #footer .footer .footer-link .footer-link-list .big-item .glyphicon-phone {
  top: 2px;
  margin-right: 6px;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box {
  margin-top: 24px;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-title {
  margin-bottom: 12px;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-title span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-brand-list a {
  display: inline-block;
  height: 20px;
  background-size: 100%;
  margin-right: 16px;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-brand-list a:hover {
  background-position: 0 20px;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-brand-list .brand-rozi {
  width: 66px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/rozi-logo@2x.690dbe93.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-brand-list .brand-zenez {
  width: 70px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/zenez-logo@2x.b4e24167.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-brand-list .brand-gohyo {
  width: 64px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/gohyo-logo@2x.7ae844cb.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-brand-list .brand-flurff {
  width: 52.4px;
  height: 24px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/flurff-logo@2x.f2e7eea3.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-brand-list .brand-flurff:hover {
  background-position: 0 24px;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-search .search-input {
  height: 32px;
  padding-left: 12px;
  display: flex;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  box-sizing: border-box;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-search .search-input input {
  flex: 1;
  font-size: 13px;
  line-height: 18px;
  padding-right: 12px;
  color: rgba(0, 0, 0, 0.85);
  transition: all .1s linear;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-search .search-input .search-btn {
  width: 94px;
  font-size: 12px;
  height: 32px;
  line-height: 30px;
  color: #fff;
  background-color: #333;
  border-radius: 16px;
  transition: all .1s linear;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-search .search-tips {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.45);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .icon-weibo {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/weibo@2x.2ba4858e.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .icon-weibo:hover {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/weibo-hover@2x.6cd57d18.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .icon-xhs {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/xiaohongshu@2x.c519c7ad.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .icon-xhs:hover {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/xiaohongshu-hover@2x.b41d2e61.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .icon-wecat {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/wechat@2x.8818f71f.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .icon-wecat:hover {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/wechat-hover@2x.aff45c8c.png);
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-wecat {
  display: inline-block;
  position: relative;
}

#app #footer .footer .footer-link .footer-link-list .big-item .footer-box .footer-wecat .footer-wecat-qrcode {
  position: absolute;
  transition: opacity .6s;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #efefef;
  left: -60px;
  opacity: 0;
}

#app #footer .footer .footer-method {
  text-align: center;
  margin-bottom: 16px;
}

#app #footer .footer .footer-method .method-list {
  display: inline-flex;
  align-items: center;
  padding: 18px 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#app #footer .footer .footer-method .method-list .method-UnionPay {
  width: 58px;
  background-image: url(../lib/image/brand/unionpay.jpg);
}

#app #footer .footer .footer-method .method-list .method-visa {
  width: 38px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/Visa-2@2x.6cf8d912.png);
}

#app #footer .footer .footer-method .method-list .method-master {
  width: 36px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/mastercard@2x.14e14af6.png);
}

#app #footer .footer .footer-method .method-list .method-ameri {
  width: 38px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/ae@2x.a6803239.png);
}

#app #footer .footer .footer-method .method-list .method-alipay {
  width: 70px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/Alipay-3@2x.bdff9cdf.png);
}

#app #footer .footer .footer-method .method-list .method-paypal {
  width: 70px;
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/Paypal-3@2x.91aa2cec.png);
}

#app #footer .footer .footer-method .method-list .method-item {
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 8px;
}

#app #footer .footer .footer-company .company-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

#app #footer .footer .footer-company .company-name .company-name-item {
  color: #333;
  vertical-align: baseline;
  font-size: 12px;
  margin-left: 5px;
}

#app #footer .footer .footer-company .company-name a {
  display: flex;
  color: #333;
  text-decoration: none;
  font-size: 12px;
  margin: 0 5px;
}

#app #footer .footer .footer-company .company-name a img {
  width: 20px;
  height: 20px;
  margin: 0 4px;
  vertical-align: middle;
}

#app #footer #copyright {
  height: 40px;
  margin-top: 12px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #333;
}

#app #footer .back-top, #app #footer .download-bubble {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background: #f4f4f4;
  box-shadow: 0 2px 11px 0;
  transition: all .5s;
}

#app #footer .back-top:hover .back-top-p, #app #footer .download-bubble:hover .back-top-p {
  background-color: #ff5224;
}

#app #footer .back-top:hover i, #app #footer .download-bubble:hover i {
  color: #ff5224;
}

#app #footer .back-top .back-top-p, #app #footer .download-bubble .back-top-p {
  width: 12px;
  height: 2px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
}

#app #footer .back-top i, #app #footer .download-bubble i {
  font-size: 16px;
  opacity: 0.65;
}

#app #footer .download-bubble {
  bottom: 40px;
  background-color: #ff5224;
}

#app #footer .download-bubble:hover .download-dialog {
  display: block;
}

#app #footer .download-bubble i {
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url(../lib/image/brand/download.png);
  background-size: 100%;
}

#app #footer .download-bubble .download-dialog {
  position: fixed;
  right: 68px;
  bottom: 20px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: all .3s ease-in;
  display: none;
}

#app #footer .download-bubble .download-dialog > p {
  line-height: 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
}

#app #footer .download-bubble .download-dialog .download-link {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#app #footer .download-bubble .download-dialog .download-link img {
  width: 64px;
  height: 64px;
  margin-right: 8px;
}

#app #footer .download-bubble .download-dialog .download-link .download-btn {
  width: 96px;
  margin-top: 5px;
}

#app #footer .download-bubble .download-dialog .download-link .download-btn .download-btn-ios {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/app-store-cn@2x.dd782aef.png);
}

#app #footer .download-bubble .download-dialog .download-link .download-btn .download-btn-android {
  background-image: url(https://ws.izenecdn.com/st/wapsite/img/android@2x.423f7e17.png);
}

#app #footer .download-bubble .download-dialog .download-link .download-btn a {
  display: block;
  width: 100%;
  height: 35px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 6px;
}
